<div class="container main content main-wrapper">
  <div class="offset-by-four eight columns alpha page clearfix">
    <h1 class="center">
      {{ page.title }}
    </h1>
    <div class="feature_divider"></div>

    <div>
      {{ page.content }}
    </div>
  </div>
</div>